.Cart h1 {
  font-weight: 400;
  font-size: 35px;
}

.Cart h4 {
  font-size: 17px;
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyCart p {
  color: rgb(87, 87, 87);
  font-size: 18px;
}

.displayCartItems {
  margin: 32px 64px;
}

.displayCartItems h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayCartItems .cart-product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid grey;
  padding-top: 32px;
  margin-top: 8px;
}

.cart-summary button {
  width: 120px;
}

.item {
  border-top: 1px solid grey;
  padding-top: 32px;
}

.clear-cart {
  margin-left: 30px;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 8px 0;
}

.continue-shopping,
.start-shopping {
  color: rgb(87, 87, 87);
}

.custom-width {
  width: 200px;
}

@media (min-width: 960px) {
  .Cart {
    margin: 130px auto;
  }

  .show-product-container img {
    margin: 10px 0;
  }

  .cart-summary button {
    width: 200px;
  }
}

.custom-checkout-info a {
  margin-right: 10px;
}

@media (max-width: 960px) {
  .Cart {
    margin: 50px auto;
  }

  .description {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .custom-width {
    width: 150px;
  }

  .cart-summary {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-summary button {
    margin-bottom: 8px;
  }

  .check-out-info {
    text-align: center !important;
  }
}
