.Checkout {
  display: block;
  margin: 0 auto;
  padding: 32px 0;
  text-align: center;
}

.Checkout .place-order {
  width: 300px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .Checkout .place-order {
    width: 200px;
  }
}

@media (max-width: 280px) {
  .Checkout .place-order {
    width: 150px;
  }
}

@media (min-width: 500px) {
  .Checkout {
    max-width: 400px;
  }
}
