.Faqs h1 {
  color: #5f1854;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 60px;
  cursor: pointer;
}

.Faqs h2 {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.Faqs p {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  text-align: start;
}

.Faqs .container {
  margin: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 10px;
  max-width: 700px;
}

.Faqs .faq-icon {
  font-size: 44px;
  position: relative;
  top: -6px;
}

.Faqs .faq {
  border-bottom: 2px solid #c4c2c2;
  margin-top: 32px;
  padding-bottom: 16px;
}

.Faqs .question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Faqs .minus-icon {
  background-color: #5f1854;
  color: white;
  display: none;
}

.Faqs .plus-icon {
  background-color: #f96d00;
  color: #ffff;
}

.Faqs .plus-icon,
.Faqs .minus-icon {
  font-size: 12px;
  border-radius: 60%;
  padding: 8px;
  position: relative;
  bottom: 4px;
  color: #141414;
}

.Faqs .faq .answer {
  height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.Faqs .faq.active .answer {
  height: auto;
}

.Faqs .faq.active h2 {
  color: #f96d00;
}

.Faqs .faq.active .minus-icon {
  display: inline-block;
}

.Faqs .faq.active .plus-icon {
  display: none;
}

@media (max-width: 576px) {
  .Faqs h1 {
    font-size: 30px;
  }

  .Faqs p {
    font-size: 14px;
  }

  .Faqs h2 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .Faqs h2::before {
    font-size: 16px;
    margin-right: 10px;
  }

  .Faqs .faq-icon {
  font-size: 30px;
  position: relative;
  top: 0;
}

  .question {
    display: grid;
    grid-template-columns: 3fr auto;
    grid-gap: 35px;
    align-items: center;
  }

  .faq-icons {
    display: flex;
    justify-content: flex-end;
  }

  .faq-icons::after {
    margin-right: 0;
    padding-right: 0;
  }

  .container {
    padding: 20px;
    margin: 20px;
    max-width: 320px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }

  .faq-icon {
    font-size: 30px;
    top: 0;
  }

  .plus-icon,
  .minus-icon {
    font-size: 10px;
    padding: 7px;
  }
}

@media (max-width: 280px) {
  .container {
    max-width: 250px;
  }
}
