.FindYourAccount h3 {
  font-weight: 500;
}

.FindYourAccount p {
  font-size: 17px;
}

.FindYourAccount {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px;
  border: 1px solid none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.search-button {
  width: 90px;
}

.btn-cancel {
  border: 1px solid black;
  color: black;
}

.btn-cancel:hover {
  border: 1px solid #5f1854;
  background-color: #5f1854;
  color: white;
}

.btn-clear {
  background-color: #5f1854;
  border: 1px solid #5f1854;
  color: white;
}

.btn-clear:hover {
  border: 1px solid #5f1854;
  color: white;
  background-color: #8c2057;
}

@media (min-width: 500px) {
  .FindYourAccount {
    max-width: 480px;
  }
}
