.hero h1 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 100px;
  line-height: 1.5;
  margin-top: 240px;
}
.hero h1:hover {
  color: #f5d0ef;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.primary-button {
  text-transform: uppercase;
  background-color: white;
  padding: 18px 30px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
  line-height: 27px;
  margin-top: 50px;
  color: #5f1854;
  transition: all 200ms ease-in;
  
}

.primary-button:hover {
  color: white;
  background-color: #5f1854;
}

.hero img {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  color: white;
}

@media (max-width: 1050px) {
  .hero h1 {
    font-size: 80px;
    margin-top: 160px;
  }

  .primary-button {
    padding: 16px 32px;
    font-size: 18px;
    margin-top: 40px;
  }
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 50px;
    margin-top: 110px;
  }

  .primary-button {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 36px;
    margin-top: 90px;
  }

  .primary-button {
    padding: 8px 12px;
    font-size: 12px;
    margin-top: 15px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 58px;
  }

  .primary-button {
    padding: 4px 12px;
    font-size: 12px;
  }
}

@media (max-width: 399px) {
  .hero h1 {
    font-size: 29px;
    margin-top: 50px;
  }

  .primary-button {
    padding: 3px 12px;
    font-size: 11px;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 360px) {
  .hero h1 {
    font-size: 28px;
  }
}

@media (max-width: 280px) {
  .hero h1 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .primary-button {
    padding: 3px 6px;
    font-size: 9px;
    letter-spacing: 3px;
  }
}
