h1 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

input[type="radio"] {
  margin-right: 10px;
}

.order-summary-item {
  margin-bottom: 20px;
}

.coupon {
  display: block;
  margin: 0 auto;
}

.OrderConfirmation {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.order-summary {
  padding: 10px;
  margin: 20px;
}

.product-price {
  font-weight: 600;
}

.icon {
  font-size: 11px;
}

.client-information {
}

.total-amount, .shipping-info, .place-order, .name-and-phone {
  display: flex;
  justify-content: space-between;
}

.amount-cost, .shipping-cost, .subtotal {
  font-weight: 700;
}

@media (min-width: 500px) {
  .coupon {
    max-width: 350px;
  }
}
