.OrderConfirmation h1 {
  font-weight: 400;
}

.OrderConfirmation h3 {
  font-weight: 400;
}

.OrderConfirmation h5 {
  font-size: 15px;
}

.OrderConfirmation h4 {
  font-size: 18px;
}

input[type="radio"] {
  margin-right: 10px;
}

.trusted-payment {
  line-height: 1;
}

.order-summary-item {
  margin-bottom: 20px;
}

.coupon {
  display: block;
  margin: 0 auto;
}

.enter-coupon,
.apply-button {
  margin-left: -11px;
}

.apply-button {
  border: 1px solid #5f1854;
  background-color: #5f1854;
  color: white;
}

.apply-button:hover {
  border: 1px solid black;
  color: white;
  background-color: #6b3c64;
}

.btn-order {
   border: 1px solid black;
}

.btn-order:hover {
  border: 1px solid #5f1854;
  background-color: #5f1854;
  color: white;
}

.OrderConfirmation {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: white;
  border: none;
  padding: 10px;
  border: 1px solid none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.order-summary {
  padding: 10px;
  margin: 20px;
}

.product-price {
  font-weight: 600;
}

.icon {
  font-size: 11px;
}

.total-amount,
.shipping-info,
.place-order,
.order-summary-item {
  display: flex;
  justify-content: space-between;
}

.amount-cost,
.shipping-cost,
.subtotal {
  font-weight: 700;
}

.spacing-between {
  border: none;
  padding: 5px;
  background-color: #f1f1f1;
  margin: 20px 0 20px 0;
}

.shipping-fee-info {
  border: none;
  padding: 10px;
  background-color: #f1f1f1;
  margin: 20px 0 20px 0;
}

@media (max-width: 280px) {
  .OrderConfirmation {
    max-width: 90%;
  }

  .enter-coupon,
  .apply-button {
    margin-left: -18px;
  }
}

@media (min-width: 500px) {
  .coupon {
    max-width: 350px;
  }
}

@media (max-width: 500px) {
  .OrderConfirmation h5 {
    font-size: 14px;
    line-height: 1;
  }

  .OrderConfirmation h5,
  .icon,
  .product-price {
    margin-left: 10px;
  }

  .OrderConfirmation img {
    margin-right: 10px;
  }

  .OrderConfirmation {
    max-width: 80%;
  }
}
