h1 {
  font-weight: 400;
}

h3 {
   font-weight: 400;
}

.coupon {
  display: block;
  margin: 0 auto;
}

.OrderConfirmation {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.order-summary {
  padding: 10px;
  margin: 20px;
}

.product-price {
  font-weight: 600;
}

.icon {
  font-size: 11px;

}

@media (min-width: 500px) {
    .coupon {
        max-width: 350px;
    }
}