.Products h5 {
  font-size: 15px;
}

.Products h1 {
  text-align: center;
  padding-top: 50px;
  font-weight: 400;
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.product-price {
  font-size: 18px;
}

.product-image {
  height: 300px;
}

.loader-container,
.ErrorOccuerd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.category-button,
.buy-now-button {
  border: 1px solid black;
  color: black;
}

.category-button:hover,
.buy-now-button:hover {
  background-color: #5f1854;
  border: 1px solid #5f1854;
  color: white;
}

@media (max-width: 960px) {
  .Products h1 {
    font-size: 30px;
  }

  .product-image {
    height: 200px;
    width: 200px;
  }

  .product-card {
    width: 230px;
  }

  .product-id {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .Products h1 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .Products h1 {
    font-size: 24px;
  }

  .product-image {
    height: 150px;
    width: 150px;
  }

  .product-card {
    width: 180px;
  }
}

@media (max-width: 399px) {
  .Products h1 {
    font-size: 22px;
  }
}

@media (max-width: 280px) {
  .Products h1 {
    font-size: 20px;
  }

  .category-button,
  .buy-now-button {
    padding: 8px 8px;
    font-size: 11px;
  }

  .product-image {
    height: 100px;
    width: 100px;
  }

  .product-card {
    width: 130px;
  }

  .product-price {
    font-size: 15px;
  }
}
