.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

@media (min-width: 960px) {
   .Product .container {
  margin: 130px auto;
  display: block;
}
}

@media (max-width: 960px) {
   .Product .container {
  margin: 50px auto;
}
}