.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 240px 0;
}

.show-product-container {
  display: flex;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

@media (min-width: 960px) {
  .centered-container {
    margin: 70px 0;
  }
}

